html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(../img/image.png);
    background-size: cover;
    display: flex;
    margin: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;   
}
#zone{

    display: flex;
    width: 70%;

    align-items: center;
    justify-content: space-evenly;
}
#player1, #player2 {
 display: flex;

  flex-direction: column;
  align-items: center;
  border: 2px solid #007bff;
  background-color: #007bff;
  border-radius: 50px;
  padding: 20px;
  width: 100px;
  height: 70%;
  font-size: 24px;
}


#butt {
    width: 100%;
  font-size: 20pt;
  border-radius: 50px;
  background-color: antiquewhite;
}
.name
{
    margin-top: -60%;
    height: 100%;
    width: 100%;

}
#image1, #image2
{
    margin-top: 50%;
}
#score1, #score2
{
    margin-top: 40%;
}
@media screen and (max-width: 376px) {
    #zone{
flex-direction: column;

} 
  #zone>*{
    margin-top: 15%;

} 
#player1, #player2
{
   height: 50%;
}
}
